body {
  font-family: "Poppins", sans-serif;
}

.hold {
  width: 90%;
  margin-top: 1000px;
  max-width: 500px;
  height: auto;
  border: 1px solid #a7b7c9;
  margin: auto;
  display: flex;
  margin-top: -400px;
  margin-left: 500px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

#one {
  text-align: left;
  cursor: pointer;
  color: var(--Text-Color-ContentSecondary, #414141);
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  margin-top: 20px;
  margin-left: -350px; /* Adjusted for responsiveness */
}

button {
  outline: none;
  cursor: pointer;
  display: flex;
  width: 400px;

  height: 54px;
  padding: 15.5px 20px; /* Adjusted padding for responsiveness */
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #032d5a;
  color: var(--Shades-white, #fff);
  text-align: center;
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
}

#two {
  margin-bottom: 20px;
  margin-left: 0; /* Adjusted for responsiveness */
}

form {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 8px;
}

input {
  width: 400px;
  height: 50px;
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .hold {
    width: 70%;
  }
  .one {
    margin-left: -400px;
  }
  form {
    max-width: 400px;
  }
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: #ffffff;
  padding: 10px;
  width: 300px;
  height: fit-content;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.1); /* Adjusted box shadow for right side */
}

body {
  font-family: "poppins";
}
img {
  width: 150px;
  height: auto;
}

.navbar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: left; /* Align items to the center */
}

a {
  text-decoration: none;
  color: #032d5a;

  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

a:last-child {
  margin-bottom: 100px;
}
a:hover {
  background-color: #d2e2f2;
}
